/*
Large Banner industry-sub.php
*/
.large-banner {
position: relative;
top: 0;
width: 100%;
overflow: hidden;
max-height: 74vh;
}
.lg-banner-image {
position: relative;
top: 0;
width: 100%;
}
.large-banner img {
display: block;
width: 100%;
}
.lg-banner-text-wrap {
background: rgb(255,255,255);
background: rgba(255,255,255,.8);
margin: 0 5%;
padding: .5em 0 0 0;
position: absolute;
bottom: 4%;

height: auto;
z-index: 1000;
}
.lg-banner-header{
color: rgb(0,110,183);
font-size: 140%;
margin: 0 auto;
padding: .2em .5em;
padding-bottom: .5em;
width: 100%;
}
@media only screen and (min-width: 40em){
/*.lg-banner-text-wrap {
margin: 0 0 0 8%;
padding: 1.5em auto 1em 0;
bottom: 8%;
width: auto;
}*/
.lg-banner-header {
font-size: 180%;
width: auto;
}
}