/*--Specs--*/
.spec-section {
	margin: 1em auto;
	padding: 0;
}
.spec-grid {
	padding-bottom: 1em;
	margin-bottom: 0;
}
.spec-grid > div {
	display: block;
	padding: 0;
	margin:  0;
	vertical-align: top;
	width: 100%;
	height: 100%;
}
.spec-header {
	margin: 0 0 .5em 0;
	padding: 0;
}
.spec-subhead {
	color: rgb(0,0,0);
	font-size: 110%;
	font-weight: 700;
	line-height: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
}
.spec-grid li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
.spec-grid .post-green-btn {
max-width: 100%;
}
@media only screen and (min-width: 40em){
.spec-grid > div {
	display: inline-block;
	margin: 1em 1%;
	width: 47.9%;
	}
}@media only screen and (min-width:50em){
	.spec-subhead {
	font-size: 100%;
}
}@media only screen and (min-width:80em){
	.spec-section {
	margin: 0 auto 2em auto;
	padding: 0;
	}
.spec-grid {
	padding-bottom: 2em;
	}
	.spec-grid > div {
	width: 30.5%;
	}	
}